<title>Mathville: Quarry Catch!</title>
<script src="../phaser/build/phaser.min.js"></script>
<script type="text/javascript">
    var game = new Phaser.Game(800, 600, Phaser.CANVAS, "phaser-example", { preload: preload, create: create , update: update});
    
	
	//60fps?
	
	var target_time = 3600;
	//var target_time = 360;
	var elapsed = 0;
	var seconds;
	
    var asleep = {};
    var entities ={};

    var update_local = {};
    var keyboard_keys = {};
    var key_lock = {}
    var score = 0;
    var dimensions = [0, 0, 0];
    
    var size = 0;
    var containing = 0;
    
    var crate;
	var valk;
    entities['rocks'] = [];
    
    var wait = 0;
	
	var paused = true;
	
	var splash = [];
	var screens = ["paused", "intro", "good", "bad"];
	var active_screen = screens[1];
	
	var f_unloaded = false;
    
    function preload() {
    
        //  You can fill the preloader with as many assets as your game requires
    
        //  Here we are loading an image. The first parameter is the unique
        //  string by which we'll identify the image later in our code.
    
        //  The second parameter is the URL of the image (relative)
        game.load.image('boulder1', '../assets/quarry/boulder1.png', 75, 75);
        game.load.image('boulder2', '../assets/quarry/boulder2.png', 75, 75);
        game.load.image('boulder5', '../assets/quarry/boulder5.png', 75, 75);
        game.load.image('boulder10', '../assets/quarry/boulder10.png', 75, 75);
        game.load.image('crate', '../assets/quarry/crate.png', 75, 75);
		game.load.image('poof', '../assets/quarry/poof.png', 75, 75);
        game.load.image('dump', '../assets/quarry/dumpzone.png', 100, 600);
        game.load.image('bkg', '../assets/quarry/PortlandQuarry.jpg', 800, 600);
		game.load.image('valk','../assets/heroes/Volume_Valkyrie.png',75, 100);
		game.load.image('splash','../assets/wordbubble.png',400,400);

    }
    
    function create() {
    
        //  This creates a simple sprite that is using our loaded image and
        //  displays it on-screen
        //var group = game.add.group();
        
        var bkg = game.add.image(0,0, 'bkg');
        bkg.height = 600;
        bkg.width = 800;
        
        game.add.text(50,50,"SCORE: ",{fill:"yellow"});
		game.add.text(50,100,"TIME: ", {fill:"yellow"});
        game.add.text(25, 515, "Length:" + '\n' + "Width:" +'\n' + "Height:", {fontSize:'20px', fill:"yellow"});
        game.add.text(300, 550, "Holding: ", {fill:"yellow"});

        
        newDimensions(); // generate dimensions of crate
        
        entities['score'] = game.add.text(170, 50, ""+score, {fill:"yellow"});
		seconds = Math.floor((target_time - elapsed)/60)%60;
		if (seconds <= 9){seconds = "0"+seconds;}
		entities['time'] = game.add.text(130, 100, ""+Math.floor((target_time - elapsed)/3600)+":"+seconds, {fill:"yellow"});
		entities['dimensions'] = game.add.text(100, 515, dimensions[0] + '\n' + dimensions[1] + '\n' + dimensions[2], {fontSize:'20px', fill:"yellow"});
        entities['containing'] = game.add.text(425, 550, ""+containing, {fill:"yellow"});
		
		valk = entities['valk'] = game.add.image(25, 350, 'valk');
		valk.width = 150;
		valk.height = 180;
        
        crate = entities['crate'] = game.add.sprite(100, 450 , 'crate', 1);
        crate.width = 80;
        crate.height = 80;
        //group.add(crate);
        var dump = game.add.image(700, 0, 'dump');
        dump.width = 100;
        dump.height = 600;
        //group.add(dump);
        game.add.text(710, 40, "L"+"\n"+"o"+"\n"+"a"+"\n"+"d"+"\n"+"i"+"\n"+"n"+"\n"+"g"+"\n"+" "
								+"\n"+"Z"+"\n"+"o"+"\n"+"n"+"\n"+"e", {fill:"red"});
        //game.add.text(710, 40, "test", {fill:"red"});

        //group.sort('x', Phaser.group.SORT_DESCENDING); // does not fix depth problem
        game.input.keyboard.onDownCallback = function(){keyboard_keys[game.input.keyboard.event.keyCode] = true;  /*console.log(game.input.keyboard.event.keyCode);*/};
        game.input.keyboard.onUpCallback   = function(){key_lock[game.input.keyboard.event.keyCode] = false; keyboard_keys[game.input.keyboard.event.keyCode] = false; console.log(game.input.keyboard.event.keyCode);};
    }
    
    function update() {
		if (elapsed < target_time){
			if(!paused){
				var i = 0;
				while (i < splash.length) { // clear splash screens
					splash[i].destroy();
					i++;
				}
				action();
				movement();
				draw();
				elapsed++;
			}
			else{
				paused_handler();
			}
			draw();
		}
		else{
			paused = true;
			if (!f_unloaded){
				unload();
				f_unloaded = true;
			}
			active_screen = screens[4];
			end_handler();
		}
		draw();
	}
    
    function movement() {
        // move boulders down screen, check for catches
        var i = 0;
        while (i < entities['rocks'].length) {
            entities['rocks'][i].y +=3;
            if (entities['rocks'][i].x == entities['crate'].x && entities['rocks'][i].y > 400 
              && entities['rocks'][i].y < 500){ // catch boulder            
                if (entities['rocks'][i].key == 'boulder1'){
					containing += 1; 
					entities['rocks'][i].destroy();
					entities['rocks'].splice(i,1);
				}
                else if (entities['rocks'][i].key == 'boulder2'){
					containing += 2; 
					entities['rocks'][i].destroy(); 
					entities['rocks'].splice(i,1);
				}
                else if (entities['rocks'][i].key == 'boulder5'){
					containing += 5; 
					entities['rocks'][i].destroy(); 
					entities['rocks'].splice(i,1);
				}
                else if (entities['rocks'][i].key == 'boulder10'){
					containing += 10; 
					entities['rocks'][i].destroy(); 
					entities['rocks'].splice(i,1);
				}
            }
			// remove offscreen rocks
            else if (entities['rocks'][i].y > 600){entities['rocks'].splice(i,1);}
            // all rocks fall
			i++;
        }
        wait++;
        if (wait >= 120){ // delay for boulder generation
            wait = 0;
            makeBoulder();
        }
        if (containing > size){ // crate overflow
			entities['crate'].loadTexture('poof');
            active_screen = screens[3];
			paused = true;
        }
        if (entities['crate'].x >= 700){  // entered loading zone
			active_screen = screens[2];
			paused = true;
		} 
    }
    

    function action() {
        if (getBool(keyboard_keys,39 ) && !getBool(key_lock,39 )) { //right
            key_lock[39 ]=true;
            console.log("Moving right!");
            if(crate.x < 700){entities['crate'].x += 100;}
        }
        if (getBool(keyboard_keys,37 ) && !getBool(key_lock,37 )) { //left
            key_lock[37 ]=true;
            if(crate.x > 200){entities['crate'].x -= 100;}
        }
    }
	
	function paused_handler(){
		if (getBool(keyboard_keys,32 ) || getBool(keyboard_keys,13 )) { //space or enter
			paused = false;
		}
		var bub = game.add.image(100, 50, 'splash');
		bub.height = 350;
		bub.width = 550;
		splash[splash.length] = bub;
		
		splash[splash.length] = game.add.text(330, 300, "[press space]", {fontSize:'12px', fill:"black"});

		if(active_screen == screens[1]){	// intro
			splash[splash.length] = game.add.text(280, 70, "*Quarry Catch*", {fontSize:'25px', fill:"black"});
			splash[splash.length] = game.add.text(140, 120, "- Move your crate with the arrow keys to catch falling "+ '\n' +
														"  boulders!" + '\n' +
														"- Fill it up as much as you can then move it to the" + '\n' +
														"  loading zone to score points!" + '\n' +
														"- Be careful! If you overfill your crate, it will explode!" 
														,{fontSize:'18px', fill:"black"});
		}
		else if(active_screen == screens[2]){	// good
			var percent = Math.floor((containing/size)*100);
			var spercent = percent+"%";
			splash[splash.length] = game.add.text(310, 70, "*Nice!*", {fontSize:'25px', fill:"green"});
			splash[splash.length] = game.add.text(140, 120, " You put  " + containing + "  boulders in a crate that holds  " + size + '\n' +
														"         That's " + spercent + "!" + '\n' + 
														"         Multiplier:  x" + Math.floor(percent/10)
														,{fontSize:'18px', fill:"black"});
			}
		else if(active_screen == screens[3]){	// bad
			splash[splash.length] = game.add.text(310, 70, "*Oh No!*", {fontSize:'25px', fill:"red"});
			splash[splash.length] = game.add.text(140, 120, "You put  " + containing + "  boulders in a crate that only holds  " + size + '\n' +
														'\n' + "        Your crate exploded and you lost points :("
														,{fontSize:'18px', fill:"black"});
			}
		if (!paused){	
			if(active_screen == screens[2]){unload();}
			else if(active_screen = screens[3]){too_full();}
		}
	}	
	
	function end_handler(){
		var bub = game.add.image(100, 50, 'splash');
		bub.height = 350;
		bub.width = 550;
		splash[splash.length] = bub;
		
		splash[splash.length] = game.add.text(330, 300, "[press space]", {fontSize:'12px', fill:"black"});
		
		splash[splash.length] = game.add.text(280, 70, "  *Time's Up!*", {fontSize:'25px', fill:"black"});
		
		splash[splash.length] = game.add.text(175, 175, "Your final score was:  "+score, {fontSize:'25px', fill:"black"});		
		
		if (getBool(keyboard_keys,32 ) || getBool(keyboard_keys,13 )) { //space or enter
			// database hit

			if (sessionStorage.getItem('progress')){
                var progress = JSON.parse(sessionStorage.getItem('progress'));
                progress.quarry = true;
                sessionStorage.setItem('progress', JSON.stringify(progress));
            }
			window.location.href = "../overworld.html";
		}

	}
    
    function draw() {
        entities['score'].text = ""+score;
        entities['dimensions'].text = dimensions[0] + '\n' + dimensions[1] + '\n' + dimensions[2];
        entities['containing'].text = ""+containing;
		seconds = Math.floor((target_time - elapsed)/60)%60;
		if (seconds <= 9){seconds = "0"+seconds;}
		entities['time'].text = ""+Math.floor((target_time - elapsed)/3600)+":"+seconds;

    }
    
    function getBool(hash,key) {return ((key in hash) && (hash[key]));}
    
    function sleep(key,milliseconds) {
        var timer = game.time.events;
        asleep[key] = true; 
        timer.add(milliseconds,function(){asleep[key]=false;});
    }
    
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }
    
    function newDimensions(){ // set dimensions of crate randomly
        dimensions = [getRandomInt(1,6), getRandomInt(1,6), getRandomInt(1,6)];
        size = dimensions[0]*dimensions[1]*dimensions[2];
        containing = 0;
    }
    
    function makeBoulder(){ // makes boulder of random type in random lane
        var weight = getRandomInt(1,5);
        if (weight == 3){weight = 5;}
        if (weight == 4){weight = 10;}
        
        var type = "boulder"+weight;

        var lane = getRandomInt(1,6);
        lane += 1;
        lane *= 100;
        
        var boulder = game.add.sprite(lane, 0, type);
        boulder.height = 80;
        boulder.width = 80;
        entities['rocks'][entities['rocks'].length] = (boulder);
    }
    
    function unload(){ // empties crate, adds score, creates new crate
        var addscore = containing;
        var percent_containing = containing *10;
        var percent_size = size*10;
        var multiplier = Math.floor((containing/size)*10);

        score += addscore*multiplier;

        newDimensions();
        entities['crate'].x = 100;
    }
	
	function too_full(){  // crate overflow
	    score -= containing;
        containing = 0;
        newDimensions();
        entities['crate'].x = 100;
		entities['crate'].loadTexture('crate');

	}
    
</script>
<div id="phaser-example"></div>
// demo-project.cfinnegn.c9.io/cfinn
